@media only screen and (max-width: 2040px) {

  .bg-image {
    /* width: 30vw; */
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-60%, -50%);
    /* You can keep or remove this depending on your requirement */
  }

  .heading1 {
    color: #b38600;
    font-size: 13vw;
    position: relative;
    /* top: 170px; */
    top: 50%;
    left: 50%;
    transform: translate(-55%, -90%);
    font-weight: 500;
    font-family: "Oswald", sans-serif;

  }

  .sport {
    /* font-size: ; */
    font-weight: 500;
    /* margin-right: 20px; */
    margin-left: 8vw;
    animation: slideInRight 8s ease forwards;
  }

  .analysis {
    font-weight: 500;
    /* font-size: 12rem; */
    animation: slideInLeft 8s ease forwards;
  }


  .bg-image {
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);

  }

}




/* yash laptop size  */
@media only screen and (max-width: 1440px) {
  .bg-image {
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);

  }

  .heading1 {
    color: #b38600;
    font-size: 12vw;
    position: relative;
    /* top: 170px; */
    top: 50%;
    left: 50%;
    transform: translate(-55%, -90%);
    font-weight: 500;
    font-family: "Oswald", sans-serif;

  }

  .sport {
    /* font-size: ; */
    font-weight: 500;
    /* margin-right: 20px; */
    margin-left: 8rem;
    animation: slideInRight 8s ease forwards;
  }

  .analysis {
    font-weight: 500;
    /* font-size: 12rem; */
    animation: slideInLeft 8s ease forwards;
  }


  .bg-image {
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);

  }

}

@media only screen and (max-width: 1200px) {



  .heading1 {
    color: #b38600;
    font-size: 12vw;
    position: relative;
    /* top: 170px; */
    top: 50%;
    left: 50%;
    transform: translate(-55%, -90%);
    font-weight: 500;
    font-family: "Oswald", sans-serif;

  }

  .sport {
    /* font-size: ; */
    font-weight: 500;
    /* margin-right: 20px; */
    margin-left: 8vw;
    animation: slideInRight 8s ease forwards;
  }

  .analysis {
    font-weight: 500;
    /* font-size: 12rem; */
    animation: slideInLeft 8s ease forwards;
  }


  .bg-image {
    width: 42vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%, -50%);

  }

}


@media only screen and (max-width: 1000px) {

  .heading1 {
    color: #b38600;
    font-size: 10vw;
    position: relative;
    /* top: 170px; */
    top: 50%;
    left: 50%;
    transform: translate(-55%, -90%);
    font-weight: 500;
    font-family: "Oswald", sans-serif;

  }

  .sport {
    /* font-size: ; */
    font-weight: 500;
    /* margin-right: 20px; */
    margin-left: 8vw;
    animation: slideInRight 8s ease forwards;
  }

  .analysis {
    font-weight: 500;
    /* font-size: 12rem; */
    animation: slideInLeft 8s ease forwards;
  }


  .bg-image {
    width: 42vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%, -50%);

  }


}



@media only screen and (max-width: 960px) {

  .heading1 {
    color: #b38600;
    font-size: 12vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-62%, -385%);
    font-weight: 500;
    font-family: "Oswald", sans-serif;

  }


  .bg-image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0px;
    background-image: url('/public/assets/images/whiteBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.871);
    }
  }



  .sport {
    font-weight: 700;
    position: relative;
    margin-right: -3rem;
    animation: slideInRight 8s ease forwards;
  }

  .analysis {
    font-weight: 700;
    position: relative;
    animation: slideInLeft 8s ease forwards;
  }


  .bg-image {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);

  }

  .text-right {
    position: relative;
    top: 2rem;
    font-size: 2.5vw;
    left: 93%;
  }

  .scroll-down {
    position: relative;
    top: 40%;
    right: 0%;

  }

}


@media (max-width: 768px) {

  /* Adjust breakpoint as needed */
  main {
    flex-direction: column;
    column-gap: 0;
  }

  .section {
    margin-bottom: 20px;
  }

  .card {
    width: 90%;
    /* Adjust width as needed */
    margin: 0 auto;
  }

  .card.card-supervisor,
  .card.card-team_builder,
  .card.card-karma,
  .card.card-calculator {
    margin-bottom: 20px;
    /* Add margin bottom for spacing */
  }

  .fourcard {

    margin-top: 40px;
  }



}

@media (min-width: 769px) {
  .fourcard {

    margin-top: 40px;
  }

  main {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .card {
    width: 320px;
    padding: 35px;
    box-shadow: 0.5px 0.5px 12px 0px #80808042;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 15px auto;
    margin-bottom: 20px;
  }

  .card.card-supervisor,
  .card.card-team_builder,
  .card.card-karma,
  .card.card-calculator {
    margin-bottom: 20px;
    /* Add margin bottom for spacing */
  }
}