@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

.service-image {
  /* background-color: black; */
  /* border: 2px solid red; */
}

.service-text {
  /* background-color: black;
  /* border: 2px solid red; */
  color: rgb(0, 0, 0);

}

.textHead {
  color: orangered;
  text-align: start;
  display: inline-block;
  font-weight: 600;
  font-size: 2vw;
  font-family: "Kalam", cursive;
  /* font-family: "Source Sans 3", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.textL {
  color: rgb(86, 86, 86);
  text-align: justify;
  margin-right: 25px;
  display: inline-block;
  font-weight: 600;
  font-size: 1vw;
  font-family: "Kalam", cursive;
  /* font-weight: 700; */
  font-style: normal;
  /* margin-top: 10px; */
margin: 10;
}

.service-image img {
  width: 100%;
  height: auto;
}

.content-wrapper {
  width: 100%;
  color: brown;
  /* Adjust the width as needed */
  margin-top: 5vh;
  height: 100%;
  /* Adjust the height as needed */
}

/* Increase the size of the Col components */
.service-image,
.service-text {
  width: 50%;

  /* Adjust the width as needed */
}

.RowData {
  margin-top: 15dvh;
  height: 50vh;
  width: 100%;
  margin-top: 40px;
}

.content-wrapper img {
  max-width: 100%;
}
.custom-col {
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition for smooth effect */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Default shadow */
}

.custom-col:hover {
  box-shadow: 0 0 30px 10px rgba(255, 165, 0, 0.6); /* Darker shadow on hover */
  transform: scale(1.05); /* Increase size on hover */
}
.service-image img {
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.service-image img:hover {
  transform: scale(1.1); /* Increase image size on hover */
}

.service-image img:hover {
  box-shadow: 0 0 20px 5px rgba(139, 0, 0, 0.6); /* Dark red box shadow on hover */
}
