@media only screen and (max-width: 960px) {}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1440px) {
  .services-Top {
    height: 101vh;
    margin-top: -6%;
    /* Adjust height as needed */
  }

  .services-Top-head {
    top: 30%;
    font-size: 3.2rem !important;

  }

  .services-Top-cont {
    font-size: 1.6rem !important;
  }
}

@media screen and (min-width: 2560px) {}

/* For screens smaller than 786px */
@media only screen and (max-width: 1024px) {
  .services-Top-head {
    font-size: 2.8rem !important;
  }

  .services-Top-cont {
    font-size: 1.3rem !important;
  }

  .services-Top-containt {
    padding-left: 14%;
    padding-right: 14%;
  }
}

@media only screen and (max-width: 786px) {
  .services-Top {
    margin-top: -12%;

    height: 100vh;
    /* Adjust height as needed */
  }

  .services-Top-head {
    font-size: 2.7rem !important;
  }

  .services-Top-cont {
    font-size: 1.1rem !important;
  }

  .services-Top-containt {
    padding-left: 12%;
    padding-right: 12%;
  }

  .fsp {
    font-size: 11px !important;
  }

  .custom-col {
    padding: 1rem !important;
  }

  .col-md-3 {
    /* flex: 0 0 auto; */
    width: 32%;
  }

  .ser-cont {
    padding: 1rem !important;
  }

  .OurMissiontext,
  .welcomecom {
    margin-left: 0px;
    font-size: 2vw;
    /* line-height: 1.4;
  letter-spacing: 0px;
  text-align: justify; */
  }

  .expo-text {
    /* position: relative;
  color: white; */
    font-size: 1rem;
    margin-left: 17%;
    margin-right: 16%;
  }

  .expo-serv-heading {
    font-size: 3rem;
  }

  .ex-more {
    padding: 0.6rem;
  }

  .services-heading-our {
    font-size: 2rem !important;
  }

  .services-con-text {
    font-size: 1rem !important;
  }

  .card-boxs {
    width: 22%;
    margin-left: 1.1%;
    margin-right: 1%;
height: 29vh;
  }

  .head {

    font-size: 1rem !important;
  }

  .card-boxs p {
    font-size: 0.7rem !important;
  }
.jus{
padding-left: 3%;
}
}

@media only screen and (max-width: 425px) {
  .services-Top {
    margin-top: -25%;
    height: 105vh;

  }



  /* .services-Top-head {
    font-size: 2rem !important;
  } */

  /* .services-Top-cont {
    font-size: 0.9rem !important;
    margin-top: 1px !important;
    text-align: justify;

  } */

  /* .services-Top-containt {
    padding-left: 4%;
    padding-right: 4%;
  } */

  .custom-col {
    height: 30vh !important;
    margin-bottom: 35px;
    padding: 2rem !important;
  }

  .fs {
    font-size: 30px !important;
    margin-bottom: 27px p !important;
    /* padding-bottom: 1rem !important; */
    /* color: orangered !important; */
  }

  .fsh {
    font-size: 23px !important;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(42, 38, 38) !important;
  }

  .fsp {
    text-align: justify;

    font-size: 12px !important;
    padding-bottom: 10px !important;
  }

  .services-Row {
    padding: 2rem !important;
  }

  .ser-cont {
    padding: 0rem !important;
  }

  .wave-img img {
    width: 100%;
    /* height: 100%; */
  }

  .contt {
    width: 99%;
  }

  .service-expo {
    height: 70vh !important;
    padding-bottom: 2%;
  }

  .expo-serv-heading {
    font-size: 2rem;
  }

  .expo-text {
    font-size: 1rem !important;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;

  }

  .ex-more {
    /* padding-bottom: 5% !important; */
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .services-heading-our {
    padding: 1.8rem;
    font-size: 1.6rem;
  }

  .services-con-text {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 0.8rem;
    text-align: justify;

  }

  .head {
    font-size: 1.1rem !important;
  }

  .card-boxs p {
    font-size: 0.9rem !important;
  }

  .card-boxs {
    display: inline-block;
    width: 75%;
    height: 27vh;
    background: white !important;
    margin: 8px;
    border-radius: 0%;
    padding: 1rem;
    margin-bottom: 2%;
    margin-right: 1%;
    text-align: center;
    border-radius: 9%;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    /* Add transition for smooth effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 400);
  }

  .services-hr {
    height: auto;
    background: rgb(245, 243, 243);
    text-align: center;

  }

  .jus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2%;
  }

  .jus .card-boxs {
    margin: 10px;
    /* Adjust margin as needed */
  }


}

@media only screen and (max-width: 425px) {
  .custom-col {
    height: 35vh !important;
  }

  .services-Top {
    margin-top: -28%;
  }
}

@media only screen and (max-width: 375px) {
  .services-Top {
    margin-top: -28%;
    height: 103vh;
  }
}