@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lugrasimo&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Kalam:wght@300;400;700&family=Lugrasimo&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Kalam:wght@300;400;700&family=Lugrasimo&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kalam:wght@300;400;700&family=Lugrasimo&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Teko:wght@300..700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

.services-Top {
  background-image: url('/public/assets/images/img-05.jpg');
  background-size: cover;
  /* Cover the entire container */
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  /* height: 105vh; */
  width: 100%;
  /* margin-top: -7%; */
  margin-top: -4%;
  height: 101vh;
  color: rgb(255, 255, 255) !important;
  /* color: red; */

  &::before {
    content: '';
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    height: 101vh;
    background-color: rgba(0, 0, 0, 0.800);
  }
}

.ser-top {
  margin-top:23%;
}

.services-Top-head {
  font-size: 5rem !important;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 30px !important;
}


.services-Top-cont {
  font-size: 3rem !important;
  /* text-shadow: 2px 2px 8px rgb(108, 105, 105); */
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  /* margin-top: 10px; */
  margin: 10;
}


.services-Top-containt {
  position: relative;
  top: 40%;
  padding-left: 20%;
  padding-right: 20%;


}

.custom-col {
  border-radius: 7%;
  border: 0.1px solid lightgray !important;
  background-color: #f3f6f1c7;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  /* Add transition for smooth effect */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Default shadow */
}

/* Increase the size of the Col components */

.custom-col:hover {
  box-shadow: 0 0 50px 5px rgba(79, 78, 72, 0.779);
  /* Darker shadow on hover */
  transform: scale(1.05);
  /* Increase size on hover */
}

.services-Row {
  background-color: whitesmoke;

  /* Adjust the width as needed */
}


.services-Container {
  /* background-color: rgb(14p3, 100, 100) !important; */
  height: 70vh !important;
  width: 100%;
  margin-top: 40px;
  background-image: url('/public/assets/images/newbg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  color: rgb(198, 198, 198) !important;

  /* &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.800);
  } */

}


.fs {
  font-size: 40px !important;
  color: rgb(255, 0, 0);
  padding-bottom: 1rem !important;
  /* color: orangered !important; */
}

.fsh {
  font-size: 30px !important;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(42, 38, 38) !important;
}


.fsp {
  font-size: 20px !important;
  font-weight: 400;
  /* font-style: oblique; */
  font-family: 'Poppins', sans-serif;
  color: var(--p-text-color);
}

.wave-img {
  margin-top: 1%;
  height: 100%;
}

.service-expo {
  height: 80vh;
  width: 100%;
  background-image: url('/public/assets/images/expoimg.jpg');
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  /* &::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
} */
}
.ntext{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 5px;
  color: var(--p-text-color);
}

.rxpo-div {
  width: 100% !important;
  height: 100% !important;
  top: 0%;
}

.ex-more {
  padding: 1rem;
  background: transparent;
  border: 2px solid whitesmoke;
  position: relative;
  color: white;
  font-size: 1.4rem;
  top: 38%;
}

.expo-text {
  position: relative;
  color: white;
  font-size: 1.8rem;
  margin-left: 18%;
  margin-right: 18%;
  top: 30%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.expo-serv-heading {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  position: relative;
  color: white;
  top: 28%;
}











.services-hr {
  height: 100vh;
  background: rgb(245, 243, 243);
  text-align: center;

}

.services-heading-our {
  color: rgb(0, 0, 0);
  padding: 1.5%;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.services-con-text {
  margin-left: 18%;
  margin-right: 18%;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--p-text-color);
}

.services-contaniner {
  display: wrap;
  /* justify-content: space-around; */

}

.card-boxs {
  display: inline-block;
  width: 20%;
  height: 33vh;
  background: white !important;
  margin: 8px;
  border-radius: 0%;
  padding: 23px;
  margin-bottom: 1%;
  margin-right: 1%;
  text-align: center;
  border-radius: 13%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  /* Add transition for smooth effect */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 400);

}

.card-boxs:hover {
  box-shadow: 0 0 10px 5px rgba(72, 66, 50, 0.779);
  /* Darker shadow on hover */
  transform: scale(1.05);
  /* Increase size on hover */
}

.icon {
  font-size: 36px;
  padding: 15px 10px 10px 10px !important;
  color: rgb(208, 153, 82);
}

.head {
  margin: 5px 0px 0px 0px;
  padding-bottom: 10px !important;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: rgb(63, 68, 44);
}

.card-box p {
  color: #000000c3;
  font-size: 1rem;
  font-size: 17px !important;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
