/* Define reusable classes */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Teko:wght@300..700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

.footer {
  position: relative;
  background-color: #1b1c1b;
  color: #fff;
  padding: 50px 0;
  /* background-image: url('/public/assets/images/ban-2.png'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 50vh; */
  font-family: "Rubik", sans-serif;

}

o .footer-content {
  display: flex;
  justify-content: space-between;

}



.footer-heading {
  color: var(--primary-color);
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.footer-comp {
  font-family: "Rubik", sans-serif;
}

.footer-list li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-list li a {
  color: #fff;
  text-decoration: none;
}

.footer-list li a:hover {
  color: #ccc;
}

.footer-divider {
  border-top: 3px solid #ffffff;
}

.carousel-img {
  width: 50%;
  height: 50%;
  /* max-width: 100%; Set the maximum width of the images */
  /* height: 80%; Maintain the aspect ratio */
  /* Add any additional styling here */
}

/* Add this CSS to your external CSS file */
.social-media-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media-icons li {
  display: inline-block;
  margin-right: 10px;
  /* Adjust spacing between icons */
}

.social-media-icons li:last-child {
  margin-right: 0;
  /* Remove margin from the last icon */
}

.social-media-icons li {
  margin-right: 4%;
}

.footer-section .social-media-icons {
  float: right;
  /* Float the social media icons to the right */
  justify-content: space-around;

  /* Remove margin from the last icon */
}

.footer-hr {
  float: right;
}

.footer-box {
  /* background-color: rgb(221, 0, 0); */
  width: 30%;
  object-fit: cover !important;
  height: 120px;
  /* margin: 6px; */
  left: 15px;
  position: relative;
  margin-bottom: 10px;
  padding: 0 !important;
  margin-right: 10px;
}

/* Add CSS to center align list items vertically */
.contact-info ul {
  list-style: none;
  padding: 0;
  text-align: center;

  /* Center align list items */
}

.contact-info ul li {
  margin-bottom: 10px;
  font-family: "Rubik", sans-serif;
}

/* Add additional styling as needed */
.contact-info ul li i {
  margin-right: 10px;
  color: #3f3776;
  /* Change icon color as needed */
}

.contact-info ul li i,
.contact-info ul li span {
  font-size: 16px;

}

/* 
.mediaround{
  background-color: white;
  padding: 10px 12px;
  border-radius: 50%;
}
.mediaround:hover{ */
/* background-color: gray;
} */
.instas,
.link,
.fbs,
.twitt {
  background-color: white;
  padding: 10px 12px;
  border-radius: 50%;
}

.instas:hover {
  background-color: #C13584;

}

.link:hover {
  background-color: #0a66c2;

}

.fbs:hover {
  background-color: #0a66c2;

}

.twitt:hover {
  background-color: #1DA1F2;

}

.fa-instagram {
  color: #C13584;
}

.fa-instagram:hover {
  color: white;
}

.fa-linkedin {
  color: #0a66c2;
}

.fa-linkedin:hover {
  color: white;
}

.fa-facebook:hover {
  color: white;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-twitter:hover {
  color: white;
}

.copyright {
  font-family: "Rubik", sans-serif;
}

.term {
  font-family: "Rubik", sans-serif;
}


.games-list {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

.games-list li {
  margin-left: 6rem; /* Add spacing between items */
  text-align: start;
  padding: 4px;
  font-family: "Rubik", sans-serif;
}
.games-list li:hover {
color: #27967A;
}

.contact-list li {
  margin-left: 3rem; /* Add spacing between items */
  text-align: start;
  padding: 4px;
  font-family: "Rubik", sans-serif;
}


@media only screen and (max-width: 768px) {

  .footer-heading {
    color: var(--primary-color);
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 20px;
  }

  .footer-comp {
    font-family: "Rubik", sans-serif;
    font-size: .8rem;
  }

 

  .contact-info ul {
    list-style: none;
    padding: 0;
    text-align: center;

    /* Center align list items */
  }

  .contact-info ul li {
    margin-bottom: 10px;
    font-family: "Rubik", sans-serif;
    font-size: .9rem;
  }
.contact-list li{
  text-align: start !important;
}
  /* Add additional styling as needed */
  .contact-info ul li i {
    margin-right: 10px;
    color: #3f3776;
    /* Change icon color as needed */
  }

  .contact-info ul li i,
  .contact-info ul li span {
    font-size: 15px;

  }

  .social-media-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 10px;
  }

  .footer-hr {
    position: relative;
    top: -30px;
  }

  .footer-img {
    padding: 20px;
  }

  .copyright,
  .term {
    font-size: .7rem;
  }

  
.games-list {
  list-style: none; /* Remove default list styles */
  padding: 0;
   /* Remove default padding */
}

.games-list li {
  width: 50%; /* Set each list item to occupy 50% of the width */
  float: left;
  margin-left:0;/* Float the list items to align them side by side */
  text-align: center;
  margin: 0;
  
}
.games-list li:hover {
  color: var(--primary-color);
}

.contact-list li {
  /* margin-left: 8rem; Add spacing between items */
  text-align: start;
  padding: 4px;
  font-family: "Rubik", sans-serif;
}

}
