/* Define reusable classes */
.footer {
  background-color: #000000;
  color: #fff;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  width: 25%;
}

.footer-heading {
  color: #fff;
}

.footer-list li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-list li a {
  color: #fff;
  text-decoration: none;
}

.footer-list li a:hover {
  color: #ccc;
}

.footer-divider {
  border-top: 3px solid #888888;
}
.carousel-img {
width: 50%;
height: 50%;
  /* max-width: 100%; Set the maximum width of the images */
  /* height: 80%; Maintain the aspect ratio */
  /* Add any additional styling here */
}
/* Add this CSS to your external CSS file */
.social-media-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media-icons li {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between icons */
}

.social-media-icons li:last-child {
  margin-right: 0; /* Remove margin from the last icon */
}

.footer-section .social-media-icons {
  float: right; /* Float the social media icons to the right */
}
.footer-hr{
float: right;
}