/* Navbar.css */

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.205); /* Adjust shadow properties as needed */
/* background-color: rgb(255, 255, 255) !important; */
}
.navbar-brand img {
 width: 140px;
 /* height: 40px; */
  }
  
  .nav-link {
    font-size: 18px;
    color: #3f3776 !important;  /* Change color as needed */
  }
  
  .nav-link:hover {
    color: #5d4ecf !important;  /* Change color as needed */
  }
  
  /* NavBar.css */
.navbar-light .nav-link {
  color: #efef06 !important; /* Set default color to white */
  
}

.navbar-light.scrolled .nav-link {
  color: rgb(82, 18, 117) !important; /* Change color when scrolled */
}
