/* NavBar.css */


/* Add position: relative to the navbar */
.navbar {
  background: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.6px);
  -webkit-backdrop-filter: blur(12.6px);
  position: fixed;
  z-index:1500;
}

/* Set z-index for navbar collapse to ensure it appears above other components */
.navbar-collapse {
  z-index: 999; /* Ensure navbar collapse appears above other elements */
}

/* Set a high z-index for the parent container of your page content */
.page-container {
  position: relative;
  z-index: 1; /* Ensure page content appears beneath navbar */
}

.navbar-brand {
  display: flex;
  align-items: center; /* Align items vertically */
}

.navbar-brand img {
  width: 140px;
  margin-right: 10px; /* Adjust margin as needed */
}

.nav-link {
  font-size: 18px;
  color: #3f3776 !important; /* Change color as needed */
}
.navbar-toggler {
  border: none; /* Remove border from the hamburger button */
}
.navbar-toggler:focus {
  outline: none !important;
  box-sizing: none;
}

.nav-link:hover {
  color: #5d4ecf !important; /* Change color as needed */
}

/* Set default color to white for navbar links */
.navbar-light .nav-link {
  color: #000000 !important;
}

/* Change color when scrolled */
.navbar-light.scrolled .nav-link {
  color: #4e3a00 !important; /* Change color when scrolled */
}


/* NavBar.css */

/* Override default styling for NavDropdown */
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.713) !important;
  border: none !important; /* Optional: Remove border if needed */
}

/* Override default styling for NavDropdown.Item */
.NavDropdown .Item {
  background-color: transparent !important;
  color: #27967A !important; /* Change text color if needed */
}

.dropdown-item.active, .dropdown-item:active{
  background-color: #27967A;
}

/* Reduce height of navbar in mobile view */
@media (max-width: 767px) {

  .navbar-brand img {
    width: 100px; /* Adjust logo size */
  }

  .navbar-toggler {
    border: none; /* Remove border from the hamburger button */
  }
  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
  }
  
}

/*-------------------------------------------------- NavBar.css humburger code is here----------------------------------- */
.navbar {
  transition: background-color 0.3s ease-in-out;
  z-index: 1000; /* Set a high z-index for the desktop navbar */
}

.navbar.scrolled {
  background-color: #ffffff; /* Change to white when scrolled */
}

.navbar-brand img {
  max-height: 50px; /* Adjust the max-height as needed */
}

.nav-link {
  color: #fff; /* Link color */
}

.nav-link:hover {
  color: #aaa; /* Hover color */
}

/* Mobile Navbar */
.mobile-navbar {
  position: fixed;
  top: 0;
  left: -100%; /* Initially hidden */
  width: 60%; /* Adjust the width as needed */
  height: 100%;
  background-color: #fffffff9; /* Mobile navbar background color */
  padding-top: 1.5rem; /* Match the height of the fixed-top navbar */
  transition: left 0.7s ease-out;
  z-index: 1100; /* Set a higher z-index for the mobile navbar */
  /* border-radius: 10px 10px 12px 50px; */
}

.mobile-navbar.show {
  left: 0; /* Show the mobile navbar */
}

.mobile-navbar .nav-link {
  color: #fff; /* Mobile navbar link color */
  font-size: 1rem; /* Adjust the font size as needed */
  margin-bottom: .7rem;
  
}

.mobile-navbar .nav-link:hover {
  color: #c80000; /* Mobile navbar link hover color */
}
.mobile-navbar .dropdown-menu {
  padding: 0rem 0; /* Adjust padding as needed */
}

.mobile-navbar .dropdown-item {
  padding: 0rem 2rem; /* Adjust padding as needed */
}
.hamburger-icon {
  color: #ff0000;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  z-index: 1200; /* Set an even higher z-index for the hamburger icon */
}

