/* Navbar.css */
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 18px;
    color: #333; /* Change color as needed */
  }
  
  .nav-link:hover {
    color: #555; /* Change color as needed */
  }
  